header {
    height: 60vh;
    width: 100%;
    padding-top: 4rem;
    overflow: hidden;
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    


}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    color: var(--color-bg);
}

.header__container > h1 {
    color: var(--color-bg);
    font-family: 'Poor Story', cursive;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-size: 3.5rem;;

}

.header__container > h2,h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ==================== CTA ==================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* ==================== HEADER SOCIALS ==================== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =================== ME ====================== */

.me {
    background: linear-gradient(var(--color-dark), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    /* overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem; */

}

.header-img-small {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 30rem;
    top: 12.5rem;
   
}
.header-img-small > img {
    border-radius: 50%;
    border: 3px solid var(--color-bg);
    
}
.text-sub {
    color: var(--color-white);
}

/* ===================  (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ===================  (SMALL DEVICES) ======================== */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;

    } 
    .header-img-small {
        right: 3.5rem;
        top: 35.5rem;
       
    }

}

