header {
    height: 60vh;
    width: 100%;
    padding-top: 1rem;
    overflow: hidden;
    background-image: url(../../assets/wall.jpg);
    background-size: cover;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container > h1 {
    color: var(--color-h1);
    font-family: 'Caprasimo', cursive;
    padding-bottom: 30px;
    letter-spacing: 1.5px;
    font-size: 2.75rem;;

}

.header__container > p {
    font-family: 'Poor Story', cursive;
    font-size: 1.5rem;
    font-weight: bold; 
}

.header__container > h2,h3 {
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Poor Story', cursive;
    color: var(--color-h2);
    font-size: 1.8rem;

}


/* ==================== CTA ==================== */
.cta {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.text-sub {
    color: var(--color-dark);
}
.text-sub-1 {
    color: var(--color-h1);
}


/* ===================  (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1300px) {
    header {
        height: 70vh;
    }
  
   
}
@media screen and (max-width: 1030px) {
    header {
        height: 85vh;
    }
  
   
}
@media screen and (max-width: 920px) {
    header {
        height: 60vh;
    }
    .header__container > h1 {
        font-size: 2.15rem;
    
    } 
}   
@media screen and (max-width: 900px) {
    header {
        height: 55vh;
    }
    .header__container > h1 {
        font-size: 2.15rem;
    
    } 
}   

/* ===================  (SMALL DEVICES) ======================== */

@media screen and (max-width: 800px) {
    header {
        height: 60vh;
    }
    .header__container > h1 {
        font-size: 2.15rem;
    
    } 
}    
@media screen and (max-width: 550px) {
    header {
        height: 75vh;
    }
    .header__container > h1 {
        font-size: 2.15rem;
    
    } 
    @media screen and (max-width: 400px) {
        header {
            height: 85vh;
        }
    }    
    @media screen and (max-width: 380px) {
        header {
            height: 110vh;
        }
    }    
    @media screen and (max-width: 300px) {
        header {
            height: 120vh;
        }
    }    

    .header__socials,
    .scroll__down {
        display: none;

    } 

    
}

